@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<b>Selling your private information since 2024</b>
<p>Terms of services are non negotiable</p>

<!--<b>Ivan</b>
<strong>Ivan</strong>
<i>Ivan</i>
<em>Ivan</em>
<mark>Ivan</mark>
<small>Ivan</small>
<del>Ivan</del>
<ins>Ivan</ins>
<sub>Ivan</sub>
<sup>Ivan</sup>-->

<mark>Priut_za_jivotni Ltd reserves all rights to private information 
    of both user if provided and their pets. The information is 
    rightfully sold to advertisers and whoever pays. <ins>
        These terms
    remain non negotiable</mark>.